@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.sectionAppointments{ 
    width: 100%;
    height: 90vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../assets/peluqueria.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.cajaBoton{
  width: 90%;
  height: auto;
  margin:  10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonAgregar{
  width: 190px;
  height: 50px;
  text-align: center;
  background: linear-gradient(to right, rgba(250, 166, 56, 0.8), rgba(248, 181, 94, 0.8), rgba(250, 166, 56, 0.8));
  color: #77530a;
  border-width: 2px; /* Define el ancho del borde */
  border-style: solid;
  border-image: linear-gradient(to right,#77530a,#77530a) 1;
}


.container{
    width: 90%;
    height: auto;
    margin:10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subTitulo{
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: aliceblue;
}

.containerAppointment{
    width: 250px;
    height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 1px solid black;
    margin:10px ;
    border-width: 2px; /* Define el ancho del borde */
    border-style: solid;
    border-image: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a) 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.titulo{
    font-family: "Playfair Display", serif;
    font-size: 19px;
    margin: 10px;
    padding: 5px;
    color: rgb(201, 195, 195);
    border-bottom:2px solid #77530a;
}



.imgLogoAppointment{
    width: 100px;
    height: 70px;
    margin: 0 auto;
}

/* ------------------------------------------------- */
.Btn{
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btn::before {
    position: absolute;
    content: "Cancelar";
    font-size: 18px;
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }

  .BtnCanceled{
    width: 140px;
    height: 40px;
    background-color: gray;
    background-size: 250%;
    background-position: left;
    color: rgb(70, 65, 65);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    /* overflow: hidden; */
  }