@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.sectionRegister{
    width: 100%;
    height: 650px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../assets/peluqueria.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    border-width: 2px; /* Define el ancho del borde */
    border-style: solid;
    border-image: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a) 1;
}

.caja1Form{
    width: 50%;
    height: 100%;
background-color: aqua;
}

.imgForm{
    width: 100%;
    height: 100%;
}

.caja2Form{
    width: 50%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('https://img.freepik.com/foto-gratis/textura-marmol-negro-dorado_125540-1516.jpg?w=740&t=st=1710775558~exp=1710776158~hmac=b3938dd704d959acf62bc9b249f18e29bbbdadb0b8a11af0ac159ed3a428ba67');
    display: flex;
    align-items: center;
}

.form{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tituloForm{
    text-align: center;
    font-size: 40px;
    color: #ffd277;
    font-family: "Great Vibes", cursive;
  font-weight: 400;
}

.input{
    width: 90%;
    height: 50px;
    margin: 0 auto;
}